---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Confirm Email">
  <div class="container">
    <h1>Confirm Email</h1>
    <p>Check your email and click the link to confirm your email.</p>
    <p>You can close this page.</p>
  </div></Layout
>
