---
import Layout from '@/layouts/Layout.astro'

export const prerender = false

const email = Astro.url.searchParams.get('email')?.replace(/\ +/g, '+')
if (!email) {
  throw new Error('Email is required')
}
---

<Layout title="Login">
  <div class="container">
    <h1>Verify OTP</h1>
    <form action="/api/verify-otp" method="post">
      <input type="hidden" name="email" value={email} />
      <label for="token">One-time password</label>
      <input type="text" id="token" name="token" required autofocus />
      <button type="submit">Verify</button>
    </form>
  </div>
</Layout>
