---
import Footer from '@/layouts/Footer.astro'
import { supabase } from '@/utils/database'

export const prerender = false

const { data, error } = await supabase
  .from('reviews')
  .select()
  .order('created_at', { ascending: false })

if (error) {
  console.error(error)
}

const reviews = data || []

console.log('[DEBUG] /reviews')

// The browser should always check freshness
Astro.response.headers.set('cache-control', 'public, max-age=0, must-revalidate')

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set('netlify-cdn-cache-control', 'public, durable, s-maxage=31536000')

// Tag the page with the book ID
Astro.response.headers.set('netlify-cache-tag', 'all-reviews')
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Reviews</title>
  </head>
  <body class="min-h-screen justify-between flex flex-col">
    <div>
      <h1>All Reviews</h1>

      {reviews.length === 0 && <p>No reviews yet</p>}

      {
        reviews.map((review) => (
          <div>
            <p>{review.created_at}</p>
            <p>{review.rating}</p>
            {(review.comment?.length || 0) > 0 && <p>{review.comment}</p>}
          </div>
        ))
      }
    </div>
    <Footer />
  </body>
</html>
