---
import Layout from '@/layouts/Layout.astro'
import { supabase } from '@/utils/database'

export const prerender = false

const {
  data: { user },
} = await supabase.auth.getUser()

if (!user) {
  return Astro.redirect('/login')
}
---

<Layout title="Profile">
  <div class="container">
    <h1>Profile</h1>
    <p>Welcome back, {user.email}!</p>

    <form action="/api/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </div>
</Layout>
