---
import { supabase } from '@/utils/database'

const {
  data: { user: currentUser },
} = await supabase.auth.getUser()
---

{!currentUser && <a href="/login">Sign in</a>}

{
  currentUser && (
    <div class="flex items-center gap-2">
      <a href="/user/profile">{currentUser.email}</a>
      <form action="/api/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </div>
  )
}
