---
import { getCurrentUserProfile, getUserDisplayName } from '@/utils/auth'

console.log('[DEBUG] UserDisplay.astro')

const currentUserProfile = await getCurrentUserProfile()

console.log('[DEBUG] UserDisplay.astro', currentUserProfile?.id)
---

{!currentUserProfile && <a href="/login">Sign in</a>}

{
  currentUserProfile && (
    <div class="flex items-center gap-2">
      <div class="flex items-center gap-2">
        {currentUserProfile.has_avatar && (
          <img
            src="/api/profile/avatar"
            class="w-8 h-8 object-cover rounded-full border-2 border-white"
          />
        )}
        {!currentUserProfile.has_avatar && (
          <div class="w-8 h-8 bg-gray-300 rounded-full flex items-center justify-center">
            <span class="text-gray-600">{getUserDisplayName(currentUserProfile)[0]}</span>
          </div>
        )}
        <a href="/user/profile">{getUserDisplayName(currentUserProfile)}</a>
      </div>

      <form action="/api/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </div>
  )
}
