---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Success">
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold">Order canceled!</h1>
    <p class="mt-4">Your order was canceled.</p>
  </div>
</Layout>
