---

---

<header class="p-4 bg-slate-200">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <h1><a href="/">My Site</a></h1>
    <nav class="flex gap-4 items-center">
      <a href="/">Home</a>
      <a href="/login">Sign in</a>
    </nav>
  </div>
</header>
